@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:700);

nav {
    background-color: #2d2d2d;
    width: auto;
}
nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    line-height: 1;
    display: block;
    max-width: 940px;
    text-align: center;

}
nav ul:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}
nav ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
nav.align-right ul li {
    float: right;
}
nav.align-center ul {
    text-align: center;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: none;
    display: block;
    padding: 15px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}
nav ul li.current a,
nav ul li a:hover {
    color: #f7f7f7;
    border-bottom: none;
}

nav ul li.current a:before,
nav ul li a:hover:before {
    width: 100%;
}
nav ul li a:after {
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: 19px;
    height: 6px;
    width: 6px;
    background: #ffffff;
    opacity: .5;
}
nav ul li a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #333333;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
}
nav ul li.last > a:after,
nav ul li:last-child > a:after {
    display: none;
}
nav ul li.active a {
    color: #333333;
}
nav ul li.active a:before {
    width: 100%;
}
nav.align-right li.last > a:after,
nav.align-right li:last-child > a:after {
    display: block;
}
nav.align-right li:first-child a:after {
    display: none;
}

main{
    position: relative;
}

main .wrapper{
    max-width: 960px;
    margin: 0 auto;
    background: #FFF;
    padding: 10px;

}

header h1{
    display: none;
}

#slider{
    height: 150px;
    box-sizing: border-box;
    position: relative;
    color: #fff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b0d4e3+0,88bacf+100;Grey+3D+%233 */
    background: #b0d4e3; /* Old browsers */
    background: -moz-linear-gradient(top,  #b0d4e3 0%, #88bacf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0d4e3), color-stop(100%,#88bacf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b0d4e3 0%,#88bacf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b0d4e3 0%,#88bacf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b0d4e3 0%,#88bacf 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b0d4e3 0%,#88bacf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d4e3', endColorstr='#88bacf',GradientType=0 ); /* IE6-9 */

    text-align: center;
}

.slider {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
}


.textslider-inner {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.slide,
.textslider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.full-widget{
    height: 200px;
    padding: 50px;
    text-align: center;
    background-color: #f4f4f1;
}


@media screen and (max-width: 768px) {
    nav ul li {
        float: none;
        display: block;
    }
    nav ul li a {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #f7f7f7;
    }
    nav ul li.last > a,
    nav ul li:last-child > a {
        border: 0;
    }
    nav ul li a:after {
        display: none;
    }
    nav ul li a:before {
        display: none;
    }
}

